html {
    zoom: 70%;
}
body {
    margin-left: 7%;
    margin-right: 7%;
}
div#perfil {
    text-align: center;
}
nav {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
}
section.primera {
    width: 33%;
    float: left;
    height: 525px;
}
section.segunda {
    width: 41%;
    height: 525px;
    float: left;
}
p#entradilla {
    font-size: 150%;
}
p.texto {
    font-size: 115%;
}
aside {
    float:left;
    width: 26%;
    height: 525px;
}
address {
    font-size: 130%;
}
div.contacto {
    width: 100%;
    text-align: center;
}
.contacto a{
    width: 60px;
    height: 60px;
    margin: 20px;
}