body {
    margin: 5%;
}
div#perfil {
    text-align: center;
}
nav {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110%;
}
section.primera {
    width: 33%;
    float: left;
    height: 515px;
    background-color: blue;
}
section.segunda {
    width: 50%;
    height: 515px;
    background-color: red;
    float: left;
}
p#entradilla {
    font-size: 150%;
}
aside {
    float:left;
    width: 11%;
    height: 515px;
    background-color: blue;
}
